<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar><mat-icon>menu</mat-icon> منو</mat-toolbar>
    <mat-nav-list (click)="onActionClick(drawer)" >
      <a mat-list-item routerLink="/"><mat-icon>home</mat-icon> خانه</a>
      <a mat-list-item routerLink="/cardlist"><mat-icon>shopping_cart</mat-icon>  خرید</a>
      <a mat-list-item routerLink="/news"><mat-icon>history_edu</mat-icon> اخبار</a>
      <a mat-list-item routerLink="/contactus"><mat-icon>contact_mail</mat-icon> تماس با ما</a>
      <a mat-list-item routerLink="/aboutus"><mat-icon>home_work</mat-icon> درباره ما</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <button mat-button routerLink="/">{{title}}</button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
