<div>
  <button type="button" (click)="onFormBarcodeReaderOn()" [disabled]="scannerEnabled"
    class="btn btn-raised btn-warning mr-1">
    <i class="ft-x"></i>بارکد خوان
  </button>
  <button type="button" (click)="onFormBarcodeReaderOff()" [disabled]="!scannerEnabled"
    class="btn btn-raised btn-warning mr-1">
    <i class="ft-x"></i>ورود شناسه
  </button>
  <div *ngIf="scannerEnabled" style="width: 200px; height:200px">
    <zxing-scanner [formats]="allowedFormats"
    [autostart]="scannerAutostartEnabled"
    [enable]="scannerEnabled"
    [torch]="scannerTorch"
    [autofocusEnabled]="scannerAutofocusEnabled"
      (camerasNotFound)="camerasNotFoundHandler($event)" (scanSuccess)="scanSuccessHandler($event)"></zxing-scanner>
    <mat-slide-toggle [(ngModel)]="scannerTorch" *ngIf="scannerEnabled">فلش دوربین</mat-slide-toggle>
  </div>
  <div *ngIf="!scannerEnabled">
    <form (ngSubmit)="onFormSubmit()" #vform="ngForm" class="form form-horizontal">
      <mat-form-field class="example-full-width">
        <mat-label>شناسه / نام محصول</mat-label>
        <input matInput [(ngModel)]="modelDataProductCode" name="modelDataProductCode" #ShopCode type="text"
          placeholder="00000" minlength="3" maxlength="20" required />
        <mat-icon matSuffix *ngIf="modelDataProductCode" matSuffix mat-icon-button aria-label="Clear"
          (click)="modelDataProductCode = ''">close</mat-icon>
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-hint align="end">{{ ShopCode.value.length }} / 10</mat-hint>
        <mat-error *ngIf="ShopCode.errors?.required">
          شناسه الزامی است
        </mat-error>
      </mat-form-field>
      <div class="form-actions" *ngIf="formInfo.FormAllowSubmit">
        <button type="submit" class="btn btn-raised btn-primary" [disabled]="!vform.form.valid">
          <i class="fa fa-check-square-o"></i>  بررسی
        </button>
      </div>
    </form>
  </div>
  <p>{{currentToken.Title}}</p>

  <table>
    <tr>
      <td>ر</td>
      <td>نام کالا</td>
      <td>تعداد</td>
      <td>قیمت فروشگاه</td>
      <td>قیمت روی کالا</td>
      <td>مبلغ کل</td>
    </tr>
    <tr *ngFor="let item of modelData.products; index as i">
      <td>{{i+1}}</td>
      <td>{{item.title}}</td>
      <td>{{item.count}}</td>
      <td>{{item.priceOnShop}}</td>
      <td>{{item.priceOnProduct}}</td>
      <td>{{item.sum}}</td>
    </tr>
    <tr>
      <td colspan="3">جمع بدون تخفیف</td>
      <td colspan="3">{{modelData.sumPure}}</td>
    </tr>
    <tr>
      <td colspan="3">تخفیف شما از خرید</td>
      <td colspan="3">{{modelData.sumDiscount}}</td>
    </tr>
    <tr>
      <td colspan="3">جمع فاکتور</td>
      <td colspan="3">{{modelData.sumPay}}</td>
    </tr>
    <tr>
      <td colspan="3">تعداد اقلام</td>
      <td colspan="3">{{modelData.products.length}}</td>
    </tr>
  </table>

</div>
