  <div *ngIf="!currentToken ||!currentToken.SiteId || currentToken.SiteId <= 0">
    <button type="button" (click)="onActionLogin()"
    class="btn btn-raised btn-warning mr-1">
    <i class="ft-x"></i>وارد شوید</button>
  </div>
  <div *ngIf="currentToken &&currentToken.SiteId>0">
    <table>
      <tr>
        <td>فروشگاه</td>
        <td>{{currentToken.Title}}</td>
      </tr>
    </table>
    <button type="button" (click)="onLogout()" class="btn btn-raised btn-warning mr-1">
      <i class="ft-x"></i>خروج از فروشگاه
    </button>
    <button type="button" (click)="onActionStart()"
    class="btn btn-raised btn-warning mr-1">
    <i class="ft-x"></i>شروع خرید</button>
  </div>


